
.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(100px);
    padding: 0 30px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */

    
}

.container button {
    padding: 15px 25px;
    background-color:  #04ddb2;
    color: white;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.containerFont font {
    margin: 0 20px;
    color: #767676;
    font-size: 18px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;

}
.containerFont font:hover {
    color: #333;
    transition: 0.5s;
}