.container {
    display: flex;
    align-items: center;
    justify-content: center ;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    background: rgb(255,63,124);
background: linear-gradient(35deg, rgba(255,63,124,1) 13%, rgba(255,123,74,1) 100%);
}
.calculator {
    display: flex;
    flex-direction: column;
    align-items: end;
background: linear-gradient(18deg, rgba(25,29,92,1) 13%, rgb(73, 80, 140) 100%);
padding: 20px 20px 20px 20px;
-webkit-box-shadow: 0px 21px 53px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 21px 53px -6px rgba(0,0,0,0.75);
box-shadow: 0px 21px 53px -6px rgba(0,0,0,0.75);
border-radius: 20px;
}

.operation {
    color: white;
    font-size:30px;
}

.result {
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}


.bottoms {
    width: 300px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 10px;
   
}
.bottoms button {
    color: white;
 border: none;
 border-radius: 100px;
 padding: 20px 0;
 font-size: 22px;
 cursor: pointer;
 background-color: transparent;
}


.igual {
    grid-area: 4/4/6/5;
    border-radius: 20px;
    background-color: #f72a5a !important;
    -webkit-box-shadow: 0px 8px 29px 0px rgba(247,42,90,1);
-moz-box-shadow: 0px 8px 29px 0px rgba(247,42,90,1);
box-shadow: 0px 8px 29px 0px rgba(247,42,90,1);

}

.clear {
  background-color: #ffff !important;  
  color: #eb1c4c !important
}

.orenge {
    background: rgb(247,133,92);
    background: linear-gradient(180deg, rgba(247,133,92,1) 13%, rgba(250,112,32,1) 100%);
}

.back {
    background-color: #353b63 !important;
}