

.father{
    padding-top: 10px;
}
.containerInfo{
    width: 100%;
    height: 100vh;
    display: flex;
    
    
}



.title {
    font-size: 56px;
    font-weight: bold;
    color: #333333;
}
.containerInfo div {
    font-size: 56px;
    color: #333333;
}

.text{
    font-size: 24px;
    margin: 20px 0;
    

}


.left {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 0 50px;
}
.left div {
    color: #04ddb2;
}

.button1 {
    border: none;
    background-color: #04dcb1;
    border-radius: 32px;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 35px;
    color: white;
}
.button2{
  color: #04dcb1;
  font-size: 20px;
  font-weight: bold;
  border: none;
  background-color: transparent;
  padding: 15px 35px;

}


/* Parte dossss */

.container2 {
    width: 100%;
    padding-top: 80px;
    background-color: #f2f3f5;
    

}

.info {
    margin:0 200px ;
    
}

.container2 h2{
    font-size: 60px;
    line-height: 60px;
    color: #333333;

    margin: 0 ;
}

.container2 span {
    color: #04dcb1;
}

.container2 p {
    color: #333333;
    width: 75%;
    margin: 15px 0;
    font-size: 24px;
    line-height: 35px;

}
.container2 img{
    width: 100%;

}

.cards {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 80px;
}

.cards div {
    width: 25%;
    font-size: 20px;
    margin: 0 20px;
    color: #333333;

  }

  .cards  h3{
    margin: 10px 0;
  }
  .cards  p{
    margin: 0;
  }
  .cards  video{
    height: 50px;
    border-radius: 15px;
  }
  .infoTwo {
    padding: 0 120px 80px 120px;
    width: 70%;
  }

  .infoTwo h2{
    font-size: 50px;
  }

  .cardsTwo {
   display: flex;
   justify-content: center;
   width: 100%;
   padding-bottom: 80px;
  }

  .cardsTwo div{
    width: 22%;
    text-align: center;
    background-color: white;
    margin: 0 15px;
    padding: 40px 0;
    border-radius: 20px;

  }
  .cardsTwo video{
    height: 90px;
  }
  .cardsTwo p{
    font-size: 18px;
    width: 100%;
  }


