

.container {
    padding-left: 10px;
    margin: 5px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eeebeb;
    border-radius: 5px;
    overflow: auto;
    height: 40px;
    color: rgb(82, 81, 81);
}

.basura {
    background-color: #e84e3c;
    height: 100%;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 5px
}
.basura img {
    height: 20px;

}



